<script>
  import Card, { PrimaryAction } from "@smui/card";
  $: tutorials = [];
  import axios from "axios";
  let res;
  let domain_category = "design";
  let fetch_design_tutorials = async () => {
    res = await axios.get(
      "https://fast-wave-91117.herokuapp.com/" + domain_category + "/categories"
    );
    console.log(res.data[0].name);
    // for (var i = 0; i < res.data.length; i++) {
    //   tutorials.push(res.data[i].name);
    // }
    tutorials = [...res.data];
    console.log(tutorials);
  };
  setTimeout(fetch_design_tutorials, 100);
</script>

<div>
  <div
    style="border:0px solid red;"
    class="mt-10 2xl:mt-20 lg:ml-56 lg:mr-56 h-auto flex flex-row flex-wrap place-content-start"
  >
    <input
      type="text"
      placeholder="Search"
      class="ml-10 mr-20"
      style="border-radius:5px;border:1px solid #aaaaaa;width:100%;height:2.3rem;text-align:center;"
    />
    {#each tutorials as tutorial}
      <Card class="w-full ml-10 mr-10 text-center mt-10 lg:w-48 lg:ml-10">
        <PrimaryAction class="pt-5 pb-5 lg:pt-4 lg:pb-4">
          <a style="text-decoration:none;" href={"/" + tutorial.name}>
            {tutorial.name}</a
          >
        </PrimaryAction>
      </Card>
    {/each}
  </div>
</div>

<style>
</style>
