<script>
  import Card, { PrimaryAction } from "@smui/card";
  let category = ["All ", "Frontend ", "Backend ", "Design "];
  $: tutorials = [];
  import axios from "axios";
  let res;
  let domain_category = "programming";
  let fetch_programming_tutorials = async () => {
    res = await axios.get(
      "https://fast-wave-91117.herokuapp.com/" + domain_category + "/categories"
    );
    console.log(res.data[0].name);
    // for (var i = 0; i < res.data.length; i++) {
    //   tutorials.push(res.data[i].name);
    // }
    tutorials = [...res.data];
    console.log(tutorials);
  };
  setTimeout(fetch_programming_tutorials, 100);
</script>

<div>
  <h1
    class="ml-4 mr-20"
    style="text-align:center;font-size:30px;position:static;letter-spacing: 1px;line-height: 50px;color: #263238;font-weight:normal;"
  >
    Search for best tutorials, tools & more
  </h1>
  <div
    class="mt-10 2xl:mt-20 lg:ml-56 lg:mr-56 h-auto flex flex-row flex-wrap place-content-start"
  >
    <input
      type="text"
      placeholder="Search"
      class="ml-10 mr-20 mb-10"
      style="z-index:3;border-radius:5px;width:100%;height:2.3rem;text-align:center;background:#ECEFF1;"
    />
    <a href="/" style="margin-left:3rem;font-weight:bold">All</a><a
      href="/"
      style="margin-left:1rem;font-weight:bold">Frontend</a
    ><a href="/" style="margin-left:1rem;font-weight:bold">Backend</a><a
      href="/"
      style="margin-left:1rem;font-weight:bold">Deployment</a
    >
  </div>
  <div
    class="mt-0 2xl:mt-20 lg:ml-56 lg:mr-56 h-auto flex flex-row flex-wrap place-content-start"
  >
    {#each tutorials as tutorial}
      <Card class="w-full mr-0 text-center mt-10 lg:w-48 lg:ml-10">
        <PrimaryAction class="pt-5 pb-5 lg:pt-4 lg:pb-4">
          <a style="text-decoration:none;" href={"/" + tutorial.name}>
            <!-- <a style="text-decoration:none;" href={"/"}> -->
            <div class="flex flex-row place-content-center items-center">
              <img class="h-10" src="icons/{tutorial}.png" alt="" />
              <p class="ml-3">{tutorial.name}</p>
            </div></a
          >
        </PrimaryAction>
      </Card>
    {/each}
  </div>
</div>

<style>
</style>
