<script>
  import router from "page";
  import Programming from "./navbar_contents/programming.svelte";
  import DS from "./navbar_contents/data_science.svelte";
  import Devops from "./navbar_contents/devops.svelte";
  import Design from "./navbar_contents/design.svelte";
  import Navbar from "./navbar.svelte";
  import Python from "./python.svelte";
  import Signup from "./Signup.svelte";
  import DomainForm from "./DomainForm.svelte";
  import CategoryForm from "./CategoryForm.svelte";
  import Ruby from "./ruby.svelte";
  import Cpp from "./c++.svelte";
  import Footer from "./footer.svelte";
  var page;
  router("/signup", () => (page = Signup));
  router("/createdomain", () => (page = DomainForm));
  router("/createcategory", () => (page = CategoryForm));
  router("/", () => (page = Programming));
  router("/dataScience", () => (page = DS));
  router("/devops", () => (page = Devops));
  router("/design", () => (page = Design));
  router("/learn-python", () => (page = Python));
  router("/c++", () => (page = Cpp));
  router("/ruby", () => (page = Ruby));
  router.start();
  import axios from "axios";

  // let fetching = async () => {
  //   let res = await axios.get(
  //     "https://fast-wave-91117.herokuapp.com/userbase?skip=0&limit=100"
  //   );
  //   console.log(res.data[0].email);
  // };
  // let fetching = async () => {
  //   let res = await axios.post("https://fast-wave-91117.herokuapp.com/users", {
  //     name: "string",
  //     email: "string",
  //     password: "string",
  //     id: 0,
  //   });
  //   console.log(res);
  // };
  // setTimeout(fetching, 100);
</script>

<main style="margin-bottom:10rem">
  <Navbar />
  <br /><br /><br /><br /><br /><br />
  <svelte:component this={page} />
</main>
<Footer />
