<script>
  import axios from "axios";
  let domain;
  function CreateDomain() {
    axios({
      method: "post",
      url: "https://fast-wave-91117.herokuapp.com/domains/create",
      data: {
        domain_name: domain,
      },
    }).then((response) => {
      console.log(response.data);
    });
  }
</script>

<h1>Create Domain</h1>
<input placeholder="New Domain" bind:value={domain} /><br />
<div><button on:click={CreateDomain}>Create</button></div>

<style>
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  input {
    border: 1px solid rgb(0, 190, 0);
    margin: 2rem;
    width: 95%;
    text-align: center;
    padding: 1rem;
  }
  div {
    text-align: center;
  }
  button {
    background: rgb(0, 190, 0);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.253);
  }
</style>
