<div
  style="margin: 0 auto;border: 1px solid #B0BEC5;padding-left:15%;padding-right:15%;padding-top:5rem;padding-bottom:5rem;"
>
  <h1
    style="vertical-align: top;display: inline-block;font-weight:400;font-size:24px;"
  >
    WORKPEER<br />
    <p
      style="font-size:18px;line-height:130%;color:#455A64;display: flex;align-items: center;
flex: none;order: 1;flex-grow: 0;margin: 10px 0px;"
    >
      © Copyright 2021 Aztlan Pvt Ltd<br />All rights reserved.
    </p>
  </h1>

  <h1
    style="vertical-align: top;margin-left:6%;margin-right:6%;color: #263238;display: inline-block;font-weight:400;font-size:24px;"
  >
    Product<br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Roadmap</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >What's New</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Help Center</a
    >
  </h1>
  <h1
    style="vertical-align: top;color: #263238;display: inline-block;font-weight:400;font-size:24px;"
  >
    Legal<br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Terms of Use</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Privacy Policy</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Legal Notice</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >CCPA</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >GDPR</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Security Policy</a
    >
  </h1>
  <h1
    style="vertical-align: top;margin-left:6%;margin-right:6%;color: #263238;display: inline-block;font-weight:400;font-size:24px;"
  >
    Company<br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >About</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Jobs</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Press Room</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Blogs</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >E-Books</a
    ><br />
    <a href="/" style="font-size:18px;color:#455A64;align-items: center;"
      >Newsletter</a
    ><br />
  </h1>
  <h1
    class="mb-2"
    style="vertical-align: top;color: #263238;display: inline-block;font-weight:400;font-size:24px;"
  >
    Follow us<br />
    <a href="/" class="p-2"
      ><i class="fa fa-twitter" style="color:black;font-size:15px;" /></a
    >
    <a href="/" class="ml-2 mr-2 p-2"
      ><i
        class="fa fa-facebook-official"
        style="color:black;font-size:15px;"
      /></a
    >
    <a href="/" class="mr-2 p-2"
      ><i
        class="fa fa-linkedin-square"
        style="color:black;font-size:15px;"
      /></a
    ><a href="/" class="p-2"
      ><i
        class="fa fa-linkedin-square"
        style="color:black;font-size:15px;font-weight:bold;opacity:1;visibility:visible"
      /></a
    >
  </h1>
</div>
