<script>
  let a = 0;
  function tutorial_view() {
    a = a + 1;
    let tutorial = document.getElementById("tutorials");
    if (a % 2 == 1) {
      tutorial.style.visibility = "visible";
    } else {
      tutorial.style.visibility = "hidden";
    }
  }
</script>

<div
  style="background-color:#ffffff;border:1px solid #ECEFF1;position:fixed;width:100%;margin-top:0;z-index:5"
  class="pt-2 pb-2"
>
  <div>
    <div class="flex flex-row flex-wrap content-center">
      <div style="margin-left:15%;">
        <p style="color:black;font-weight:normal" class="mt-1">LOGO</p>
      </div>
      <div
        style="margin-left:55%;"
        class="flex flex-row flex-wrap place-content-center"
      >
        <div>
          <button on:click={tutorial_view}
            >Domain <i
              style="color:black;font-size:15px;"
              class="fa fa-angle-down"
            /></button
          >
        </div>
      </div>
      <!-- <div style="margin-left:45%;color:#ffaaff;">
        <a style="text-decoration:none;" href="/">
          <button class="signup w-32 text-center"> Signup </button></a
        >
      </div> -->
      <div style="margin-left:2%;color:#65B5FD;">
        <a style="text-decoration:none;" href="/">
          <button class="signup login w-32 text-center">Login</button></a
        >
      </div>
    </div>
  </div>
</div>
<div
  id="tutorials"
  style="margin-left:70%;margin-top: 3.5rem !important;position:fixed;box-shadow:0px 0px 5px rgba(0,0,0,0.5)"
  class="flex flex-col text-center anim"
>
  <div>
    <button class="w-auto text-center" on:click={tutorial_view}>
      <a style="text-decoration:none;" href="/">Programming</a>
    </button>
  </div>
  <div>
    <button class="w-auto lg:ml-3 text-center" on:click={tutorial_view}>
      <a style="text-decoration:none;" href="/dataScience">Data Science</a>
    </button>
  </div>
  <div>
    <button class="w-auto lg:ml-3 text-center" on:click={tutorial_view}>
      <a style="text-decoration:none;" href="/devops">DevOps</a>
    </button>
  </div>
  <div>
    <button class="w-auto lg:ml-3 text-center" on:click={tutorial_view}>
      <a style="text-decoration:none;" href="/design">Design</a>
    </button>
  </div>
  <!--<input class="lg:ml-3" style="border:1px solid black;border-radius:10px;" type='text' placeholder="   search" />-->
</div>

<style>
  #tutorials {
    visibility: hidden;
    display: inline-block;
    width: 10rem;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }
  .anim {
    animation-delay: 1s;
    animation-name: dropdown;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  button {
    width: auto;
    height: 2rem;
    border-radius: 5px;
    padding: 2px;
  }
  @keyframes dropdown {
    0% {
      transition: 0.1s ease-in-out;
      opacity: 0;
      height: 0rem;
    }
    50% {
      transition: 0.1s ease-in-out;
      opacity: 0.5;
      height: 4rem;
    }
    100% {
      transition: 0.1s ease-in-out;
      opacity: 1;
      height: 8rem;
    }
  }
  .signup:hover {
    background-color: #ffffff;
    color: #000000;
  }
</style>
