<script>
  import axios from "axios";
  let username;
  let emailid;
  let pass;
  function signupfunc() {
    axios({
      method: "post",
      url: "https://fast-wave-91117.herokuapp.com/users",
      data: {
        name: username,
        email: emailid,
        password: pass,
      },
    }).then((response) => {
      console.log(response.data);
    });
  }
</script>

<h1>Sign Up</h1>
<input placeholder="Name" bind:value={username} /><br />
<input placeholder="Email" bind:value={emailid} /><br />
<input placeholder="Password" bind:value={pass} /><br />
<div><button on:click={signupfunc}>Signup</button></div>

<style>
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  input {
    border: 1px solid rgb(0, 190, 0);
    margin: 2rem;
    width: 95%;
    text-align: center;
    padding: 1rem;
  }
  div {
    text-align: center;
  }
  button {
    background: rgb(0, 190, 0);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.253);
  }
</style>
